<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/predict.css') }}">
</head>
<body>

	<header class="first">
            
            <img src="https://megaone.acrothemes.com/food-delivery/img/logo.png" alt="logo">
            <i class='fas fa-user-alt'></i>
    </header>

    <br><br><br><br><br>

    <div class="container1">
        <img id="bg" width=800px height=640px src= "{{url_for('predict')}}" >
    </div>
</body>
</html>